.yt-player {
  width: 350px;
  &__now-playing-top {
    position: relative;
    padding: 5px 15px 5px 10px;
    text-transform: uppercase;
    font-size: 10px;
    color: #acb2b5;

    .close-sidebar {
      color: #acb2b5;

      &:hover {
        color: #0D6CFF;
      }
    }
  }
  &--title {
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--added-by {
    padding: 0 10px;
    color: #ACB2B5;
    font-weight: 300;

    .user-photo {
      margin-right: 6px;
    }

    .username {
      margin-right: 6px;
      display: inline-block;
      font-weight: 500;
      color: #32393E;

      &:hover {
        color: #32393E;
      }
    }
  }
}
