.yt-player {
  width: 350px;
  height: 100%;
  position: relative;
  padding-bottom: 90px;

  &--bottom {
    position: absolute;
    bottom: 50px;
    height: 40px;
    width: 100%;
    padding: 10px;
    border-top: 1px solid #f8f8f8;
  }
  &--title {
    padding: 10px;
    font-size: 22px;
    font-weight: 500;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--added-by {
    padding: 0 10px;
    color: #ACB2B5;
    font-weight: 300;

    .user-photo {
      margin-right: 6px;
    }

    .username {
      margin-right: 6px;
      display: inline-block;
      font-weight: 500;
      color: #32393E;

      &:hover {
        color: #32393E;
      }
    }
  }
}
