.yt-player {
  &--title {
    margin-left: 15px;
    height: 32px;
    font-weight: 700;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &--added-by {
    padding: 0 15px;

    .user-photo {
      margin-right: 6px;
    }

    .username {
      margin-right: 6px;
      display: inline-block;
      font-weight: 700;
      color: #000;

      &:hover {
        color: #000;
      }
    }
  }
}
