.playlist-item {
  &__background {
    position: relative;
  }
  &__overlay {
    top: 0;
    left: 0;
    position: absolute;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.5);
  }

  &__name {
    display: block;
    height: 100%;
    width: 100%;
    text-align: center;
    color: #fff;
    font-size: 16px;
    font-weight: 500;

    &:hover {
      color: #fff;
    }

    &:before {
      content: ' ';
      display: inline-block;
      vertical-align: middle;
      height: 100%;
    }
  }
}
