.user-info {
  h3 {
    margin-top: 0;
    font-weight: bold;
  }

  &--bio {
    background: #fff;
  }

  &--profile-song {
    background: #fff;
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
    li {
      margin: 0;
      padding: 0;
    }
  }
}
