.photo-list-item {

  &__info {
    padding: 10px 15px;
    .user-photo {
      margin-right: 7px;
    }
  }

  &__username {
    font-weight: 700;
    color: #000;

    &:hover {
      color: #000;
    }
  }

  &__photo {
    img {
      width: 100%;
    }
  }

  &__caption {
    padding: 10px 15px;
  }

  &__action-box {
    padding: 0 15px 10px 15px;
  }
}
