.photo-list-item {
  margin-bottom: 15px;

  &__col {
    padding: 15px;
    background: #fff;
  }

  &__info {
    padding-bottom: 15px;
    .user-photo {
      margin-right: 7px;
    }
  }

  &__photo {
    margin-bottom: 15px;
  }
}
