.user-follow-faces {
  margin-bottom: 15px;
  padding: 15px;

  h5 {
    margin-top: 0;
  }
}
.follow-faces-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 8px 5px 0;
    padding: 0;
  }
}
