.user-follow-faces {
  margin-bottom: 15px;

  .tab-content {
    padding: 10px 0;
  }

  .nav-tabs {
    border: none;
  }

  .nav-tabs > li > a {
    display: inline-block;
    margin-right: 10px;
    padding: 0;
    color: #A1AFBA;
    font-weight: 300;
    border: none;
  }

  .nav-tabs > li > a:hover,
  .nav-tabs > li > a:focus {
    background: none;
  }

  .nav-tabs > li.active > a,
  .nav-tabs > li.active > a:hover,
  .nav-tabs > li.active > a:focus {
    background: none;
    border: none;
    color: #0D6CFF;
  }
}
.follow-faces-list {
  list-style: none;
  margin: 0;
  padding: 0;

  li {
    display: inline-block;
    margin: 0 8px 5px 0;
    padding: 0;
  }

}
