.user-follow-count {
  position: relative;
  margin-bottom: 0;
  font-weight: 300;
  color: #ACB2B5;
  font-size: 12px;

  .count-box {
    margin-right: 25px;
    display: inline-block;
  }
  .count {
    font-weight: 500;
    font-size: 14px;
  }
}
