.user-follow-count {
  position: relative;
  margin-bottom: 0;
  font-weight: 300;
  color: #ACB2B5;
  font-size: 14px;

  .count {
    font-weight: 500;
  }

  &__followers {
    display: inline-block;
    margin-right: 25px;
  }

  &__following {
    margin-right: 25px;
    display: inline-block;
  }
}
