html, body {
  min-height: 100vh;
}
body {
  min-height: 100vh;
  overflow: auto;
  padding-top: 51px;
  background: #fff;
}
a:focus {
  outline: 0;
}
.container-fluid,
.container-fluid-5 {
  height: 100%;
}
.container-fluid-5 {
  margin-right: auto;
  margin-left: auto;
  padding-left: 5%;
  padding-right: 5%;
}
.center {
  text-align: center;
}
.fixed {
  position: fixed;
}
.btn-primary {
  font-weight: bold;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.app-wrapper {
  padding-right: 0;
  -moz-transition: padding-right .1s ease-in;
   -o-transition: padding-right  .1s ease-in;
   -webkit-transition: padding-right  .1s ease-in;
   transition: padding-right  .1s ease-in;
}
.app-wrapper.sidebar-open {
  padding-right: 350px;
}

.app-main {
  .main-content {
  }
}

.v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.v-align-responsive {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align:center; /* Align center inline elements */
  font: 0/0 a;
}

.v-align-responsive:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.v-align-dummy {
  padding-top: 100%;
}

.v-align-responsive-item {
  display: inline-block;
  vertical-align: middle;
}

.crop-responsive-16by9 {
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
  }

}
.crop-responsive-16by9::before {
    content: "";
    display: block;
    padding-top: 56%;
}

.inner-border {
  margin-top: 10px;
  border-top: 1px solid rgb(246,246,246);
}

.component-box {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 0 2px #ccc;
  border-radius: 0;
}
