body {
  padding-top: 50px;
  background: #fff;
}
.center {
  text-align: center;
}
.fixed {
  position: fixed;
}
.btn-primary {
  font-weight: bold;
}

.no-gutter > [class*='col-'] {
    padding-right:0;
    padding-left:0;
}

.app-main {
  .container-fluid {
    padding: 0px;
  }
  .main-content {
    -webkit-transition: width 0.3s ease, margin 0.3s ease;
    -moz-transition: width 0.3s ease, margin 0.3s ease;
    -o-transition: width 0.3s ease, margin 0.3s ease;
    transition: width 0.3s ease, margin 0.3s ease;
  }
}

.v-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

.v-align-responsive {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;

  text-align:center; /* Align center inline elements */
  font: 0/0 a;
}

.v-align-responsive:before {
  content: ' ';
  display: inline-block;
  vertical-align: middle;
  height: 100%;
}

.v-align-dummy {
  padding-top: 100%;
}

.v-align-responsive-item {
  display: inline-block;
  vertical-align: middle;
}

.crop-responsive-16by9 {
  width: 100%;
  overflow: hidden;
  position: relative;

  img {
      display: block;
      width: 100%;
      height: auto;
      position: absolute;
      top: 0;
      left: 0;
  }

}
.crop-responsive-16by9::before {
    content: "";
    display: block;
    padding-top: 56%;
}

.inner-border {
  margin-top: 10px;
  border-top: 1px solid rgb(246,246,246);
}

.component-box {
  margin-bottom: 15px;
  background: #fff;
  box-shadow: 0 0 2px #ccc;
  border-radius: 0;
}
