.user-songs {

  &--header {
    background: #fff;
    margin-bottom: 15px;
    padding: 15px;
    box-shadow: 0 0 2px #ccc;

    .title {
      font-size: 16px;
    }

    .add-song-form {
      text-align: right;

      .form-group {
        margin: 0;
      }

      .yt-url-wrapper {

      }

      .add-song-wrapper {

      }
    }
  }

  .affix-wrapper {
    position: relative;
  }
  .yt-player-wrapper {
  }
}
