.user-songs {
  padding: 20px 0;

  &--header {
    margin-bottom: 20px;

    .title {
      font-size: 16px;
    }

    .add-song-form {
      text-align: right;

      .form-group {
        margin: 0;
      }

      .yt-url-wrapper {

      }

      .add-song-wrapper {

      }
    }
  }

  .affix-wrapper {
    position: relative;
  }
  .yt-player-wrapper {
  }
}
