.about-page {
  margin-top: 15px;

  article {
    h2 {
      margin: 0;
      margin-bottom: 15px;
      padding: 0;
      font-weight: 700;
    }
    padding: 40px;
    background: #fff;
  }
  .profile-pic {
    margin-right: 10px;
  }
}
