.user-videos {
  padding: 20px 0;

  &--header {
    padding: 15px 0;
    background: #fff;
    margin-bottom: 15px;

    .title {
      font-size: 16px;
    }

    .add-video-form {
      text-align: right;

      .form-group {
        margin: 0;
      }

      .yt-url-wrapper {

      }

      .add-video-wrapper {

      }
    }
  }

  .affix-wrapper {
    position: relative;
  }
  .yt-player-wrapper {
  }
}
