.Navbar {
  background: #fff;
  border-bottom: 1px solid #f8f8f8;
  border-radius: 0;
  margin-bottom: 0;

  .profileDropdown .dropdown-toggle {
    padding: 7px 15px;
  }
  .navbar-brand {
    font-size: 25px;
    font-weight: bold;
    color: #0D6CFF;

    &:hover {
      color: #0D6CFF;
    }
  }
}
