.Navbar {
  background: #fff;
  border-radius: 0;
  margin-bottom: 0;

  &.navbar-default {
    border: none;
  }

  .profileDropdown .dropdown-toggle {
    padding: 10px 15px;
    border: none;
    background: none;
    box-shadow: none;
  }
  .navbar-brand {
    padding: 16px 15px;
    font-size: 18px;
    font-weight: 900;
    letter-spacing: 2px;
    color: #0D6CFF;

    &:hover, &:focus {
      color: #0D6CFF;
    }
  }

  &.navbar-default .navbar-nav > li > a {
    color: #0D6CFF;
    font-weight: 500;
    text-transform: capitalize;
  }

  &.navbar-default .navbar-nav > .active > a,
  &.navbar-default .navbar-nav > .active > a:hover,
  &.navbar-default .navbar-nav > .active > a:focus {
    background: none;
    color: #0D6CFF;
  }

  .dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
    background: #fff;
    color: #0D6CFF;
  }

  .navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: #fff;
  }

  &.navbar-default .navbar-toggle {
    border-color: #0D6CFF;
    color: #0D6CFF;

    &:hover {
      background: none;
    }
  }
  &.navbar-default .navbar-toggle .icon-bar {
    background-color: #0D6CFF;
  }

  &.navbar-default .navbar-collapse,
  &.navbar-default .navbar-form {
    border-color: #0D6CFF;
  }
}
