.my-supplements-sidebar {

  .title {
    margin-bottom: 15px;
    padding: 0 0 6px;
    color: #A1AFBA;
    border-bottom: 1px solid #f8f8f8;
    font-size: 12px;
    letter-spacing: 1px;
  }

  .supplement {
    margin-bottom: 15px;
  }
  .supplement-photo {
    margin-bottom: 10px;
  }
}
