.user-list-item {
  padding: 15px 0;
  background: #fff;

  &__user-photo-container {
    display: inline-block;
    margin-right: 15px;
    float: left
  }

  &__user-info {
    float: left;
    position: relative;
    height: 75px;
  }
  &__username {
    position: relative;

    a {
      color: #32393E;
      font-weight: 500;
      font-size: 18px;
    }
  }
  &__user-full-name {
    color: #ACB2B5;
    font-size: 12px;
    font-weight: 300;
  }
  &__follow-btn {
    height: 75px;

    .follow-btn {
      color: #ACB2B5;
      border-color: #ACB2B5;
      line-height: 1.2;
      font-size: 12px;
      width: 120px;
    }
  }
}
