.user-list-item {
  padding: 15px 0;
  background: #fff;

  &:hover {
    background: #f8f8f8;
  }

  &__user-photo-container {
    display: inline-block;
    margin-right: 15px;
    float: left
  }

  &__user-info {
    float: left;
    position: relative;
    height: 75px;
  }
  &__username {
    position: relative;

    a {
      color: #32393E;
      font-weight: 500;
      font-size: 18px;
    }
  }
  &__user-bio {
    color: #ACB2B5;
  }
  &__follow-btn {
    height: 75px;

    .follow-btn {
      color: #ACB2B5;
      border-color: #ACB2B5;
    }
  }
}
