.user-profile-header {
  padding: 15px;
  background: #fff;

  .profile-photo {
    display: inline-block;
    position:  relative;

    a {
      display: inline-block;
    }

    img {
      width: 100px;
      height: 100px;
    }

    .profile-song-icon-wrapper {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      text-align: center;
      border-radius: 50%;

      &:before {
        content: ' ';
        display: inline-block;
        vertical-align: middle;
        height: 100%;
      }

      .profile-song-icon {
        display: inline-block;
        vertical-align: middle;
        color: #fff;
      }

      .profile-song-icon.play {
        font-size: 35px;
        display: none;
      }

      .profile-song-icon.pause {
        font-size: 28px;
      }

      &:hover {
        cursor: pointer;
        background: rgba(0, 0, 0, 0.5);

        .profile-song-icon {
          display: inline-block;
        }
      }
    }
  }

  .username-bio {
    display: inline-block;
    height: 100px;
    margin-left: 15px;
  }

  .username {
    font-size: 26px;
    color: #000;
    font-weight: 700;
  }

  .bio {

  }
}
