.UserProfile {
  .user-profile-header {
    &--container {
      position: relative;
      height: 732px;
      width: 100%;
    }
    padding: 20px 0;
    background: url('/andy-deadlift.jpg');
    background-size: cover;
    height: 732px;
    background-position-y: -100px;
    position: relative;
    color: #fff;

    .user-info-bottom {
      width: 100%;
      display: block;
      position: absolute;
      bottom: 40px;
    }

    .follow-btn {
      margin-top: 60px;
    }

    .profile-photo {
      display: inline-block;

      img {
        width: 130px;
        height: 130px;
        border: 2px solid #fff;
      }

    }

    .username {
      display: inline-block;
      margin-left: 15px;
      font-size: 32px;
      color: #fff;
      font-weight: 700;
    }
  }
}
