.user-profile-nav {
  margin-bottom: 30px;
  display: block;
  background: #fff;
  border-bottom: 1px solid #f8f8f8;
  line-height: 1;

  &__inner {
    position: relative;
  }

  nav, .collapse.in {
    display: inline-block;
  }

  nav {
    position: relative;
  }

  .nav-pills > li > a {
    margin-right: 15px;
    padding: 18px 10px 15px 10px;
    position: relative;
    font-size: 14px;
    line-height: 14px;
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 1px;
    color: #A1AFBA;
    border-radius: 0;
  }
  .nav-pills > li:last-child > a {
    margin-right: 0;
  }
  .nav-pills > li.active > a {
    color: #0D6CFF;
    background: none;
  }
  .nav-pills > li.active > a:after {
    position: absolute;
    bottom: -3px;
    left: 0;
    border-bottom: 1px solid #0D6CFF;
    width: 100%;
    height: 1px;
    content: " ";
  }
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    color: #0D6CFF;
  }
  .nav > li > a:hover {
    color: #0D6CFF;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background: none;
  }

  .more.dropdown {
    margin-top: 23px;
    margin-left: 10px;
    top: -1px;
  }
  .more.dropdown > .dropdown-toggle {
    padding: 0;
    background: none;
    border: none;
    box-shadow: none;
    color: #ACB2B5;
    line-height: 0;
  }
  .more.dropdown:hover > .dropdown-toggle {
    color: #0D6CFF;
  }
  .more.dropdown.open > .dropdown-toggle,
  .more.dropdown:focus > .dropdown-toggle {
    box-shadow: none;
  }

  .more > .dropdown-menu {
    margin-top: 10px;
    position: absolute;
    transform: translate(-50%, 0);
    left: 50%;
    right: auto;
  }

  .more > .dropdown-menu::before {
    position: absolute;
    top: -7px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    border-right: 7px solid transparent;
    border-bottom: 7px solid #CCC;
    border-left: 7px solid transparent;
    border-bottom-color: rgba(0, 0, 0, 0.2);
    content: '';
  }

  .more > .dropdown-menu::after {
    position: absolute;
    top: -6px;
    left: 50%;
    transform: translate(-50%, 0);
    display: inline-block;
    border-right: 6px solid transparent;
    border-bottom: 6px solid white;
    border-left: 6px solid transparent;
    content: '';
  }

  .more > .dropdown-menu > li > a {
    text-transform: capitalize;
    color: #ACB2B5;
    font-weight: 300;
  }

  .more i {
    margin-right: 2px;
    font-size: 5px;
    line-height: 5px;
  }
  .more i:last-child {
    margin-right: 0;
  }

  .post-count {
    font-weight: 500;
  }

  .follow-btn-container {
    position: absolute;
    right: 15px;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }
  .follow-btn {
    width: 120px;
    font-size: 12px;
  }
}
