.user-profile-nav {
  margin-bottom: 30px;

  nav {
    display: inline-block;
  }

  .nav-pills > li > a {
    margin-right: 15px;
    font-size: 12px;
    font-weight: 500;
    text-transform: uppercase;
    color: #0D6CFF;
    border: 1px solid #0D6CFF;
  }
  .nav-pills > li:last-child > a {
    margin-right: 0;
  }
  .nav-pills > li.active > a {
    background: #0D6CFF;
    color: #fff;
  }
  .nav-pills > li.active > a:hover,
  .nav-pills > li.active > a:focus {
    background: #0D6CFF;
    color: #fff;
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background: #fff;
  }
}
