.user-profile-nav {
  margin-top: 15px;
  margin-bottom: 15px;
  padding: 6px 15px;
  background: #fff;
  box-shadow: 0 0 2px #ccc;
  border-radius: 2px;

  .nav-pills > li > a {
    padding: 0;
    margin: 10px 15px;
    font-size: 12px;
    text-transform: uppercase;
    color: #A2ADB5;
  }
  .nav-pills > li:first-child > a {
    margin-left: 0;
  }
  .nav-pills > li.active > a {
    background: none;
    color: lighten( #0D6CFF, 10% );
  }
  .nav > li > a:hover, .nav > li > a:focus {
    background-color: #fff;
    background: none;
  }
}
